 /* it should be noted it is not responsive  */
*{
    padding: 0;
    margin: 0;
}
.card {
    width:32vw;
    height : 74vh ;
    /* height: 62vh ; */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-left: 34vw;
    
    margin-top: 1vh;
    position :relative ;

}
.tiger-cub-image{
    position: absolute;
    left:1vw ;
    display: block;
    border-radius: 8px;
    top:1vw ;
    width: 30vw;
    height: auto;
}
.label{
    position:absolute ;
    top: 20vw;
    left: 1vw;
    

}
.label li {
    
    /* what color to give label */
    margin-right: 1vw;
    list-style: none;
    display : inline-block ;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#89AC46 ;
    padding:3px 3px ;
    

}

.title{
    position:absolute ;
    top: 49vh;
    left: 1vw;
}

.description{
    position: absolute;
    top:54vh ;
    left:1vw ;
    width:30vw ;
}

.read-more{
    position :absolute;
    background-color: #D3E671;
    border: 1px solid #ddd;
    border-radius:10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top:68vh ;
    left: 13vw ;
    color:#89AC46 ;
    padding: 3px 3px;
}