/* universal selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global css */
body {
  font-family: "SpotifyMixUI", sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
  color: #aaa;
  font-size: 0.9rem;
  font-weight: 700;
}

h1,
h2 {
  font-family: "SpotifyMixUITitle", sans-serif;
}

/* importing spotify font  */
@font-face {
  font-family: "SpotifyMixUI";
  src: url("../assets/fonts/SpotifyMixUI-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpotifyMixUI";
  src: url("../assets/fonts/SpotifyMixUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpotifyMixUITitle";
  src: url("../assets/fonts/SpotifyMixUITitleVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* scrool bar for the dark theme */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #111; /* can adjust the color */
}

/* Chrome, Edge, Brave, etc. */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #111;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* utility classes  */
.flex {
  display: flex;
}

.vertical-line {
  width: 1px;
  height: 5vh;
  background-color: #aaa;
}

.item-center {
  align-items: center;
}

.column-gap-1vw {
  column-gap: 1vw;
}
.column-gap-2vw {
  column-gap: 2vw;
}

.invert {
  filter: invert(1);
}
